/* ========================Nabbar===================== */
*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-width: 345px;
}
/* responsive web template */
*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  min-width: 350px;
  line-height: 1;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
} 
.row{
max-width: 100%;
margin: auto;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
html {
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
/* Nav bar */
.pageHeader{
  background-color: #2e2e2e;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.navbarSearch button{
  padding: 0 .6rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0;
  color: #2e2e2e;
  border-radius: 5px;
}
.navbarSearch button:hover{
 background-color: #fff;
 color: #2e2e2e;
}
.navbarSearch .form-control{
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #2E2E2E;
  font-size: .95rem;
}
.navbarSearch .form-control::placeholder{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #2E2E2E;
  font-size: .95rem;
}
.navbarSearch .form-control:focus{
  box-shadow: none;
}
.navbar-brand{
  color: #fff;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
}
.navbar-brand:hover{
  color: #fff;
}
.navbar-brand span{
  color: #ed7430;
}
@media(min-width:991px){
  .pageHeader{
      padding: 8px 60px;
  }
  .collapse .nav-item .nav-link{
      color: #fff;
      margin: 0 .5rem;
      font-weight: 500;
      letter-spacing: .5px;
  }
}
.navbarSearch{
  width: 400px;
  border-radius: 5px;
  background-color: #fff;
  padding: .15rem 0;
}

@media(max-width: 991px){
  #navbarSupportedContent{
      background-color: #f1f1f1;
      padding: .2rem 1rem;
      padding-bottom: 1rem;
  }
  .navbar .container-fluid{
      padding: 0;
  }
  .navbar-brand{
      padding-left: 1rem;
  }
  #ChangeToggle{
      margin-right: 1rem;
      padding: 0;
      border: none;
      outline: none;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 500;
  }
  #ChangeToggle:focus{
      box-shadow: none;
  }
  .pageHeader{
     padding-bottom: 0;
  }
  .collapse .nav-item .nav-link{
      color: #232323;
      font-weight: 500;
      letter-spacing: .5px;
  }
}
@media(max-width: 600px){
  .navbarSearch{
      width: 100%;
  }
}

/* Footer */

.footer{
  color:#fff;
  background-color: #2e2e2e;                                                                                                                                                                                                                                                             
}

.list-style{
  list-style-type:none!important;
  cursor:pointer;
  font-size:.75rem;
  opacity:.8;
}
.copy-right{
  font-size:.75rem;
  opacity:.8;
}
.footerLogo{
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
}
.footerLogo span{
  color: #ed7430;
}
.footer .aboutUs{
  font-weight: 500;
  font-size: .85rem;
  line-height: 1.4;
}
.footer .columnHeading{
  font-weight: 600;
  font-size: 1rem;
  display: block;
}
.footer ul li a{
  font-weight: 500;
  color: #fff;
}
.footer ul li a:hover{
  text-decoration: underline;
}
.footer .footerSocialLinks{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: .8rem;
}
.footer .footerSocialLinks a{
 width: 2rem;
 height: 2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-right: 1rem;
 background-color: #fff;
 border-radius: 4px;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 transition: box-shadow .3s ease;
}
.footer .footerSocialLinks a:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.footer .copyRightText{
  border-top: 1px solid #fff;
  margin-top: 1rem;
  padding-top: 1rem;
}
.footer .copyRightText .lovetext{
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: .9rem;
  letter-spacing: .5px;
  line-height: 1.4; 
  padding: 0;
}
.footer .copyRightText .lovetext a{
 color: #fff;
 cursor: pointer;
 text-decoration: underline;
 display: inline-block;
}
.footer .copyRightText .amznAffi{
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: .75rem;
  letter-spacing: .5px;
  line-height: 1.4; 
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}
.footer .copyRightText .amznAffi a{
 text-decoration: underline;
 color: #fff;
 cursor: pointer;
 display: inline-block;
}

.react-search-box-dropdown{
  z-index: 99999 !important;
    position: fixed;
    color: black;
    width: 400px;
    max-width: 100%;
    top: 7%;
}
.navbar.pageHeader input{
  width: 400px;
  max-width: 100%;
}
.navbar.pageHeader .hxYWBf{
 padding-left: .5rem;
}
.navbar.pageHeader input::placeholder{
  font-weight: 500;
  color: #2e2e2e;
}
.pageHeader .navbar-toggler{
  box-shadow: none;
  border: none;
  outline: none;
  color: #fff;
  fill: #fff;
}
.pageHeader .navbar-toggler span{
  color: #fff;
}

@media(max-width: 991px){
  .react-search-box-dropdown{
      width: 100%;
  }
  .navbar.pageHeader input{
    width: 100%;
  }
}
@media(max-width: 600px){
  .footer .list-style {
    opacity: .85;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 80px;
    justify-content: left;
  }
  .footer .footerColumn{
    padding: 0;
  }
}
@media(max-width:991px){
  .react-search-box-dropdown{
    position: relative;
  }
  .react-search-box-dropdown ul{
    position: absolute;
    width: 100%;
  }
}