*{
    font-family: 'Montserrat', sans-serif;
}
.homeBanner{
    padding: 3rem .2rem 0rem .2rem;
}

.homeBanner .banner-slider .item {
    padding: 0 .2rem;
 }
.homeBanner .banner-slider .item img{
   width: 100%;
   display: block;
   margin: auto;
   object-fit: contain;
   border-radius: 10px;
}
.homeBanner .slick-prev {
    z-index: 9999;
    left: 10px;
}  
.homeBanner .slick-next {
    z-index: 9999;
    right: 20px;
}   
.homeBanner .slick-prev:before, .homeBanner .slick-next:before{
    font-size: 2rem;
    color: #fff;
}
@media(max-width: 991px){
    .homeBanner .slick-arrow{
        display: none !important;
    }
 }

 /* *****************************Exclusive**************************** */
.exclusive{
    margin-top: 4rem;
    background-color: #f1f1e8;
    padding: 4rem 1rem;
}
.exclusive .container{
    padding: 0;
}
.exclusive h2{
    font-weight: 600;
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
}
.exclusive-box{
    margin-bottom: 2rem;
}

.exclusiveItem{
    display: flex;
    justify-content: left;
    align-items: center;
}
.exclusiveItem .circle{
    width: 60px;
    height: 60px;
    box-shadow: 10px 10px 15px #00000014;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    margin-right: .6rem;
    font-weight: 500;
}
.exclusiveItem .circle img{
   width: 55px;
   height: 55px;
   display: block;
   margin: auto;
   border-radius: 50%;
   object-fit: contain;
   background-position: center;
}
.exclusiveItem .storeDealCount p{
    color: #000C2D;
    font-weight: 500;
    font-size: .95rem;
 }
 .exclusiveItem .storeDealCount span{
    color: #666;
    font-size: 12px;
    line-height: 22px;
 }
.more-btn button{
    padding: .6rem 2rem;
    border: none;
    outline: none;
    font-weight: 500;
    background-color: #f05f4a;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
}
.more-btn button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media(max-width:768px){
    .exclusive-item button{
        width: 90%;
    }
}
.exclusive-item button:hover{
    background-color: #0ecbe4d8;
    box-shadow: 3px 3px 10px #0ecbe471;
}
@media(max-width: 600px){
    .exclusive{
        padding: 4rem 0rem;
    }
}
/* Fav deals */
.favDeals{
    background-color: #ebfaf7;
    padding: 4rem 0;
}
.favDeals .dealBox{
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 260px;
    padding: 12px 12px 16px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(57, 80, 45, 0.07);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 .5rem;
    text-decoration: none;
}
.favDeals .dealBox .dealImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 188px;
    height: 112px;
    box-sizing: border-box;
    border-radius: 6px;
    border: solid 1px #f4f4f4;
    background-color: #fff;
    margin: auto;
    max-width: 100%;
}
.favDeals .dealBox .dealImg img{
    max-width: 178px;
    max-height: 110px;
    margin: auto;
    object-fit: contain;
}
.favDeals .dealBox .dealName{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.32px;
    text-align: left;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
     margin-bottom: .5rem;
     margin-top: .5rem;
}
.favDeals .dealBox .dealDesc{
    margin-top: 7px;
    font-size: 12px;
    letter-spacing: 0.24px;
    color: #333;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.favDeals .dealBox .dealBtn{
    border-radius: 4px;
    background-color: #f0604a18;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    padding: 0 5px;
    box-sizing: border-box;
    margin: auto;
    font-size: 13px;
    font-weight: bold;
    color: #f0604a;
    text-align: center;
    padding: .6rem 1rem;
    width: 90%;
    margin-top: .5rem;
    text-transform: uppercase;
}
.deal-slider .slick-arrow {
   background-color: #e5fff5;
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   border: 1px solid #e2e2e2;
} 
.deal-slider .slick-prev {
    z-index: 9999;
    left: -30px;
}  

.deal-slider .slick-next {
    z-index: 9999;
    right: -35px;
} 

.favDeals .deal-slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.favDeals h2{
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: #2e2e2e;
    font-size: 1.6rem;
    line-height: 1.4;
}
@media(max-width: 600px){
    .deal-slider .slick-prev {
        z-index: 9999;
        left: 10px;
    }  
    
    .deal-slider .slick-next {
        z-index: 9999;
        right: 10px;
    } 
    .deal-slider .slick-arrow {
        background-color: #e5fff5;
        width: 1.5rem;
        height: 1.5rem;
     } 
     .favDeals h2{
        font-size: 1.4rem;
    }
}
/* Trending Deals */
.trandingDeals {
    padding: 3rem 0;
}
.trandingDeals .trandingHeading{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    padding: 0 .5rem;
}
.trandingDeals .trandingHeading h2{
   font-weight: 600;
   color: #2e2e2e;
   font-size: 1.6rem;
}
.trandingDeals .trandingHeading a{
    padding: .6rem 1rem;
    font-weight: 500;
    color: #2e2e2e;
    text-decoration: none;
    border: 1px solid #999;
    display: inline-block;
    border-radius: 4px;
 }

 @media(max-width: 600px){
    .trandingDeals .trandingHeading h2{
        font-size: 1.4rem;
     }
     .trandingDeals .trandingHeading a{
        padding: .4rem .8rem;
        font-size: .9rem;
     }
 }
 .trandingDeals .trandingDealbox{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 1px #eee;
 }
 .trandingDeals .trandingDealbox:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
 }
 .trandingDeals .trandingDealbox .imgbox{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
 }
 .trandingDeals .trandingDealbox .dealInfo{
    border-top: 1px solid #eee;
    padding: 10px 20px ;
    vertical-align: top;
    font-size: 15px;
    min-height: 60px;
 }
 .trandingDeals .trandingDealbox .dealInfo p{
   display: -webkit-box;
   line-clamp: 2;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
 }
 .trandingDeals .trandingDealbox .imgbox img{
    max-width: 100%;
    display: block;
    border-radius: 12px;
    max-height: 90px;
    padding: .5rem;
 }
 .trandingDeals .trandingDealbox .dealInfo .storeName{
    color: #888;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
 }
 .trandingDeals .trandingDealbox .dealInfo .storeName svg{
    color: #00d924;
    font-size: 13px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-right: .2rem;
 }
 .trandingDeals .trandingDealbox .dealInfo .storeName span{
   margin-right: .2rem;
 }
 .trandingDeals .trandingDealbox .dealInfo h4{
    font-weight: 500;
    color: #222;
    font-size: 14px;
    line-height: 1.3;
  }
  .trandingDeals .grabDeal{
    display: block;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 4px;
    font-size: .9rem;
    letter-spacing: .5px;
    padding: .5rem 1rem;
    background-color: #f05f4a;
    border: none;
    color: #fff;
    letter-spacing: .5px;
    cursor: pointer;
    font-weight: 500;
  }
  /* popular stored */
  .popularSection{
    padding: 2rem  0rem 4.5rem 0;
    background-color: #fff;

  }
  .popularStore .imgBox{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
  }
  .popularStore .imgBox img{
    display: block;
    height: 150px;
    padding: 0;
    margin: 0;
    object-fit: contain;
    margin: auto;
    height: 140px;
    max-width: 100%;
  }
  .popularStore .dealCount{
   display: flex; 
   align-items: center;
   justify-content: center;
   text-align: center;
   border-radius: 0 0 .5rem .5rem;
   padding: .65rem 0;
   border-top: 1px solid #e2e2e2;
   border-bottom: none;
   background-color: #f0604a18;
   width: 100%;
  }
  .popularSection .popularBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 .5rem;
    margin: auto;
    border-radius: .5rem;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    width: 100%;
  }
  .popularStore .dealCount span{
    text-align: center;
    color: #f0604a;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: .85rem;
   }
  
   .popularSection .slick-arrow {
    background-color: #e5fff5;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
 } 
 .popularSection .slick-prev {
     z-index: 9999;
     left: 11px;
 }  
 .popularSection .slick-prev::before, .popularSection .slick-next::before {
   color: #222;
} 
 .popularSection .slick-next {
     z-index: 9999;
     right: 12px;
 } 
 .popularSection h2{
    color: #2e2e2e;
    margin-bottom: 1rem;
    font-size: 1.56rem;
    font-weight: 600;
 }

 .carousel-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
 }
 
 .carousel-slide a{
    width: calc(98%/4);
    position: relative;
 }
 .carousel-slide a img{
    border-radius: 10px;
 }
 .carousel-slide a .sliderName{
    position: absolute;
    z-index: 1;
    top: 80%;
    left:33%;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
 }
 .carousel .control-dots{
    display: none;
 } 
 @media(max-width:991px){
    .carousel-slide a{
        width: calc(98%/3);
     }
     .carousel-slide a:last-child{
       display: none;
     }
 }
 @media(max-width:768px){
    .carousel-slide a{
        width: calc(98%/2);
     }
     .carousel-slide a:nth-of-type(3){
       display: none;
     }
 }
 @media(max-width:550px){
    .carousel-slide a{
        width: 100%;
     }
     .carousel-slide a:nth-of-type(2){
       display: none;
     }
 }

 .carousel-slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
  }
  .megaSale img{
    max-height: 160px;
  }